{% extends 'base.html' %}

{% block title %}Kirish{% endblock %}

{% block content %}

<div class="login-wrapper">
    <div class="login-card">
        <h2>🔐 Kirish kodi</h2>

        <form method="POST">
            {% csrf_token %}
            
            <input type="text" name="code" placeholder="Kod kiriting" required>
            
            <button type="submit">Kirish</button>
        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</div>

{% endblock %}